<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                alt="Logo image">
            <h1>Landing Module</h1>
            <p>
                Isso é um componente de landing page.
            </p>
        </div>
        <div>
            <a
                class="mt-8">
                <span>Hello World</span>
            </a>
        </div>
    </div>
</div>
