<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <img
              src="assets/images/logo.png"
              class="w-30"
              alt="Logo image">

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Redefinir sua senha</div>
            <div class="mt-0.5 font-medium">Crie uma nova senha para sua conta</div>

            <!-- Alert -->
            <p-messages [(value)]="messages"
                        [enableService]="false"
                        [closable]="true">
            </p-messages>

            <!-- Reset password form -->
            <form
                class="mt-8"
                [formGroup]="resetPasswordForm"
                #resetPasswordNgForm="ngForm">

                <!-- Code field -->
                <div class="flex flex-col">
                    <span class="p-float-label">
                      <p-inputMask mask="9  9  9  9"
                                   id="code"
                                   formControlName="code"
                                   class="mr-2 w-full"
                                   placeholder="9  9  9  9"
                                   [style]="{'width': '100%'}">
                      </p-inputMask>
                      <label for="code">Código</label>
                    </span>
                    <p-message class="w-full mt-2"
                               severity="error"
                               text="Obrigatório"
                               *ngIf="resetPasswordForm.get('code')?.invalid && submitted">
                    </p-message>
                </div>

                <!-- Email field -->
                <div class="mt-6 mb-6 flex flex-col">
                    <span class="p-float-label">
                      <input pInputText
                             id="email"
                             formControlName="email"
                             class="mr-2 w-full"/>
                      <label for="email">Email</label>
                    </span>
                    <p-message class="w-full mt-2"
                               severity="error"
                               text="Obrigatório"
                               *ngIf="resetPasswordForm.get('email')?.invalid && submitted">
                    </p-message>
                </div>

                <!-- Password field -->
                <app-create-password class="mt-6"
                                     formControlName="newPassword"
                                     placeholder="Nova senha"
                                     [formGroup]="resetPasswordForm">
                </app-create-password>

                <!-- Password confirm field -->
                <div class="mt-6 mb-6 flex flex-col">
                    <span class="p-float-label w-full">
                      <p-password id="passwordConfirm"
                                  formControlName="passwordConfirm"
                                  [style]="{'width': '100%'}"
                                  [inputStyle]="{'width': '100%'}"
                                  [toggleMask]="true"
                                  [feedback]="false"
                                  class="w-full"
                                  styleClass="
                                    p-password
                                    p-component
                                    p-inputwrapper
                                    p-input-icon-right">
                      </p-password>
                      <label>Confirme a senha</label>
                    </span>
                    <p-message class="w-full mt-2"
                               severity="error"
                               text="Obrigatório"
                               *ngIf="resetPasswordForm.get('passwordConfirm')?.invalid && submitted">
                    </p-message>
                </div>

                <!-- Submit button -->
                <app-async-button
                    class="mt-8"
                    [label]="'Redefinir'"
                    [asyncCall]="resetPassword"
                    [onReceiveData]="onReceiveResult"
                    [onReceiveError]="onReceiveError"
                    [disabled]="resetPasswordForm.invalid || submitted"
                ></app-async-button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    <span>Retornar para</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']">login
                    </a>
                </div>

            </form>
        </div>
    </div>
    <app-project-info class="relative hidden md:flex flex-auto items-center justify-center w-1/2
        h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l rounded-2xl shadow">
    </app-project-info>
</div>
