<p-password id="password"
            formControlName="password"
            [weakLabel]="'Fraca'"
            [mediumLabel]="'Média'"
            [strongLabel]="'Forte'"
            [style]="{'width': '100%'}"
            [inputStyle]="{'width': '100%'}"
            [promptLabel]="'Insira uma senha'"
            [toggleMask]="true"
            class="w-full"
            styleClass="
                            p-password
                            p-component
                            p-inputwrapper
                            p-input-icon-right">
  <ng-template pTemplate="header">
    <h4>Crie uma senha</h4>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <p class="mt-2">Sugestões</p>
    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
      <li>Uma letra minúscula</li>
      <li>Uma letra maiúscula</li>
      <li>Pelo menos um número</li>
      <li>Mínimo de 8 dígitos</li>
    </ul>
  </ng-template>
</p-password>
